
h4 {
  margin-top: 20px;
}

ul {
  margin-bottom: 20px;
}

ul li {
  margin-inline-start: 40px;
}

a {
  text-decoration: none;
}

a.text-danger {
  color: #ff4d4f;
}

a.text-muted {
  color: #6c757d;
}
